doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#container
      div#header
          h1 
            a(href='/') Wifi monitor
      div#body
        div#sidebar
          include sidebar
        div#content
          block content
      div#footer
        hr
        p Made by Risto Novik &copy; #{new Date().getFullYear()}

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')  
  script(src='https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael-min.js')
  script(src='http://g.raphaeljs.com/g.raphael.js')
  script(src='http://g.raphaeljs.com/g.line.js')
  block pageScript